# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.build/

# SQLite DB
*.db
*.db-shm
*.db-wal

# macOS
.DS_Store

# Swift PM
.swiftpm/

# Android / Wear OS
*.iml
.gradle/
.idea/
local.properties
*.apk
*.aab
WearOS/build/
WearOS/app/build/
WearOS/captures/
WearOS/.externalNativeBuild/
WearOS/.cxx/
